name: CI - Make All

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'
      - name: Install Protobuf Compiler
        run: sudo apt-get install -y protobuf-compiler
      - name: Install Go Protobuf Plugin
        run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
      - name: Install Go gRPC Plugin
        run: go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
      - name: Get Dependencies
        run: go mod download
      - name: Build
        run: make all
        shell: bash